<h1>Click on a user to see the details</h1>
<div class="cnt-users">
    <div class="all-users">
        <div class="box-user" *ngFor="let item of users" (click)="GoToDetails(item.login)">
            <span class="user-item"><b>Id:</b> {{item.id}}</span>
            <span class="user-item"><b>Login:</b> {{item.login}}</span>
        </div>
    </div>
</div>
<div class="buttons">
    <div class="previous-button">
        <button (click)="GetAllUsers(users[0].id, true)">Previous Page</button>
        <span class="previous-error-message" *ngIf="isFirstPage">Already in the first page!</span>
    </div>
    <button (click)="GetAllUsers(users[15].id)">Next Page</button>
</div>
